html, body {
    height: 30%;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

.container {
    /*position: relative;*/
    top: 5%;
    text-align: center;
    margin-top: 2em;
    justify-content: center;
}

li:hover {
    background-color: darkred;
}

.row {
    margin-top: 3em;
}

.display {
    display: none;
}

button {
    background-color: darkred;
    color: white;
}

hr {
    border: 2px solid darkred;
    margin: .2em;
}

.movieContainer {
    overflow: hidden;
    height: 400px;
    justify-content: center;
}

#movieList {
    overflow: scroll;
    height: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

#movieList::-webkit-scrollbar {
    width: 0 !important;
}

#movieList ul {
    list-style-type: none;
    justify-self: center;
}

#loadingPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#movieRating, #renderRating {
    background-color: black;
}

.error {
    outline: 4px solid red;
}

.hide {
    display: none;
}

.highlight {
    background-color: darkred;
}

.center {
    justify-content: center;
}

.colorBtn {
    background-color: black;
}

.mainBtn {
    justify-content: center;
}

.border-left {
    /*border-left: 20px solid white;*/
    margin-top: -1.8em;
}

.left {
    /*float: left;*/
}